<!DOCTYPE html>
<html>

	<% results.forEach(function(r) { %>
		<% if (r.email != "") { %>
	        <%= r.email %>|<%= r.nivel %>|<%= r.id %>||
		<% }else { %> <%= 401 %> <% } %>
	<% }); %>
</body>
</html>
